[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spinner:before {
  content: "\e980";
}
.icon-arrow-circle-left:before {
  content: "\e900";
}
.icon-arrow-circle-right:before {
  content: "\e901";
}
.icon-arrow-circle-up:before {
  content: "\e902";
}
.icon-arrow-circle-down:before {
  content: "\e903";
}
.icon-arrow-drop-down:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-automato:before {
  content: "\e907";
}
.icon-cancel:before {
  content: "\e908";
}
.icon-consultation:before {
  content: "\e909";
}
.icon-chat:before {
  content: "\e90a";
}
.icon-faq:before {
  content: "\e90b";
}
.icon-favorite:before {
  content: "\1f49c";
}
.icon-fb:before {
  content: "\e90d";
}
.icon-gmail:before {
  content: "\e90e";
}
.icon-heart:before {
  content: "\1f49b";
}
.icon-odnoklassniki:before {
  content: "\e910";
}
.icon-online-payment:before {
  content: "\e911";
}
.icon-percentage:before {
  content: "\e912";
}
.icon-quote:before {
  content: "\275e";
}
.icon-registration-help:before {
  content: "\e914";
}
.icon-search:before {
  content: "\e915";
}
.icon-shipping:before {
  content: "\e916";
}
.icon-cart:before {
  content: "\e917";
}
.icon-support:before {
  content: "\e918";
}
.icon-telephone:before {
  content: "\e919";
}
.icon-twitter:before {
  content: "\e91a";
}
.icon-vk:before {
  content: "\e91b";
}