.first-section {
  color: $white;
  background-size: cover;
  background-position: center;
  min-height: 470px;
  .main-title {
    max-width: 697px;
    margin: 0 0 20px;
    font-size: 3.6rem;
    font-weight: 900;
    height: 129px;
    @include media-breakpoint-down(md) {
      font-size: 3.6rem;
      height: auto;
      min-height: 129px;
    }
  }
  .main-info {
    max-width: 500px;
    margin-bottom: 4rem;
    font-size: 1.8rem;
  }
  .digit-container {
    padding: 10px 10px 50px;
    font-size: 1.8rem;
    font-weight: 500;
    .digit {
      color: $secondary-color;
      font-size: 3.6rem;
    }
  }
}