.section-control {
  .container {
    overflow: visible;
  }
  .control-container {
    margin: auto;
    position: relative;
    .control-image {
      display: block;
      margin: 0 auto;
    }
    .control-first, .control-second, .control-third {
      position: absolute;
    }
    .control-button {
      animation: pulse 1000ms infinite ease-in-out;
    }
    .popover {
      font-family: inherit;
      max-width: none;
      border: none;
      box-shadow: 0 0 4px 0 rgba($lightgray-secondary,0.50);
    }

    @include media-breakpoint-down(sm) {
      width: 270px;
      .popover {
        width: 200px;
      }
      .control-first {
        top: 114px;
        left: 125px;
      }
      .control-second {
        top: 400px;
        left: 125px;
      }
      .control-third {
        top: 684px;
        left: 125px;
      }
    }

    @include media-breakpoint-up(md) {
      width: 738px;
      .control-first {
        top: 116px;
        left: 428px;
      }
      .control-second {
        top: 344px;
        left: 234px;
      }
      .control-third {
        top: 344px;
        left: 540px;
      }
      .popover {
        width: 340px;
      }
    }

    // POPOVER CSS
    .arrow::after, .bs-popover-auto[x-placement^="top"] .arrow::after {
      border-width: 1.4rem 1.4rem 0;
    }
    .bs-popover-top .arrow::after, .bs-popover-auto[x-placement^="top"] .arrow::after {
      bottom: -8px;
      left: -8px;
    }
    .arrow:before {
      border-top-color: transparent;
    }
    .popover-body {
      padding: 22px 20px 20px 24px;
      font-size: 1.3rem;
      ul {
        padding: 0;
        width: auto;
        list-style-type: none;
        li {
          padding-left: 17px;
          position: relative;
          margin: 7.1px 0;
          &:before {
            content: '';
            height: 5.2px;
            width: 5.2px;
            left: 0;
            top: 7px;
            background: $main-color;
            position: absolute;
            display: inline-block;
            border-radius: 50%;
          }
        }
      }
    }
  }
}