.section-facts {
  background: $main-color url( $path-image + '/map.jpg') center no-repeat;
  background-size: contain;
  color: $white;
  .digit-container {
    max-width: 220px;
    @include media-breakpoint-down(md) {
      margin: 0 auto 3rem;
    }
  }
}