//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image     :   '../img';
$path-fonts     :  '../fonts';
$path-font-main: $path-fonts + '/MuseoSans';
$green: #73B73F;
$yellow: #EDBA66;
$blue: #36398B;
$red:#ff3b3b;
$link-color: #4286CC;
$main-color: $blue;
$secondary-color: $green;
$white: #ffffff;
$black: #000000;
$black-default: #222425;
$black-secondary: #4A4A4A;
$gray-secondary: #767676;
$gray-default: #9B9B9B;
$lightgray-default: #C2C2C2;
$lightgray-secondary: #ACACAC;
$whitegray-default: #F9F9F9;
$whitegray-secondary: #E3E3E3;
$whitegray-lightest: #FCFCFC;
$lightblue-default: #D9DAF3;
