.form-group label {
  font-size: 1.4rem;
  color: inherit;
  font-weight: 500;
}
.form-group .form-control {
  padding: 11px 15px 10px;
  font-size: 1.6rem;
  font-weight: normal;
  height: 40px;
  border-color: $whitegray-secondary;
  background: $whitegray-lightest;
  border-radius: 4px;
  &::placeholder {
    color: $lightgray-secondary;
  }
  &.disabled, &[disabled] {
    background: $whitegray-default;
    color: $lightgray-default;
  }
  &.no-valid {
    border: 1px solid $red;
    background: #ffb8b8;
  }
}
form .notifier {
  font-size: 1.4rem;
  color: $lightgray-secondary;
}